<!--
  Copyright 2021 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<link href="/static/static.css" rel="stylesheet">
<title>VulnDB Stats</title>

<body>
  <h1>Go Vulnerability Database Stats</h1>
  <div>
    <h2>{{.NumDBReports}} Reports in Database</h2>
  </div>
  <div>
    <h2>{{.NumIssues}} Issues</h2>
    <div>Open Issues: {{.NumOpen}}</div>
    <div>Closed Issues: {{.NumClosed}} (excluding ~139 dummy issues)</div>
  </div>
  <div>
    <h2>{{len .StdLibIssues}} Standard Library</h2>
      <div>
        <div>
          <h3>Open Issues</h2>
          <table>
          {{range .StdLibIssues}}
            <tr>
              {{if .Open}}
                <td>
                  <a href="https://github.com/golang/vulndb/issues/{{ .Number }}">{{ .Number }}</a>
                </td>
                <td>
                  <span>{{.CVE}}</span>
                </td>
                <td>
                  {{if .HasReport}}
                    <span>Has Report</span>
                  {{end}}
                  {{if .LabeledNeedsCVEID}}
                    <span>Needs CVE ID</span>
                  {{end}}
                  {{if not .LabeledStdLib}}
                    <span>Needs Label</span>
                  {{end}}
                </td>
              {{end}}
            </tr>
          {{end}}
          </table>
        </div>
        <div>
          <h3>Closed Issues</h2>
          <table>
            <tr>
              <th>GitHub Issue</th>
              <th>CVE</th>
              <th>Package Path</th>
              <th>Has Report</th>
              <th>Labeled StdLib</th>
              <th>Fixed</th>
            </tr>
          {{range .StdLibIssues}}
            <tr>
            {{if not .Open}}
              <td>
                <a href="https://github.com/golang/vulndb/issues/{{ .Number }}">{{ .Number }}</a>
              </td>
              <td>
                <span>{{.CVE}}</span>
              </td>
              <td>
                <span>{{.PackagePath}}</span>
              </td>
              <td>
                {{if .HasReport}}✔️ {{end}}
              </td>
              <td>
                {{if .LabeledStdLib}}✔️ {{end}}
              </td>
              <td>
                {{range .Fixed}}
                    {{.}}
                {{end}}
              </td>
            {{end}}
            </tr>
          {{end}}
          <table>
        </div>
      </div>
    </div>
    <h2>Third Party</h2>
      <div>
        <h3>{{len .OpenIssues}} Open Issues</h3>
        <div>
          {{range .OpenIssues}}
             <div>
              <div>
                <a href="https://github.com/golang/vulndb/issues/{{ .Number }}">{{ .Number }}</a>: {{.CVE}} {{.GHSA}} {{.ModulePath}}
              </div>
            </div>
          {{end}}
        </div>
      <div>
      <div>
        <h3>{{len .ClosedNeedsReport}} Closed - With Report</h3>
        <div>
          {{range .ClosedNeedsReport}}
             <div>
              <div>
                <a href="https://github.com/golang/vulndb/issues/{{ .Number }}">{{ .Number }}</a>: {{.CVE}} {{.GHSA}} {{.ModulePath}}
              </div>
            </div>
          {{end}}
        </div>
      <div>


      <div>
        <div>
          <h4>In Database</h4>
            <div>Database Information</div>
            <div>Label: NeedsReport</div>
          <h4>NotGoVuln</h4>
          <h4>duplicate</h4>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
